footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    color: white;
    background-color: #385656;

    p {
        font-size: 1em;
        padding: 7px;
        text-align: center;
        width: 100%;
        background-color: black;
        color: white;
    }
}