header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #385656;
    
    * {
        color: #FAFAFF;
    }

   nav {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

    button {
        color: white;
        transition: .5s;

        &:hover {
            opacity: .4;
        }
    }
}

   button {
    height: 100%;
    font-size: 1.2em;
    padding: 10px;

    &:hover {
        background-color: white;
        color: black;
    }
   }
}

@media screen and (max-width: 560px) {
    header {
        justify-content: space-around;
        align-items: center;

        .hamburguer-menu {
            height: auto;
            width: auto;
            padding: 0;
            scale: 2;
        }

        .sidemenu {
            text-align: center;
            position: fixed;
            top: 30%;
            right: 0;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            align-items: center;
            background-color: black;
            color: white;
            z-index: 100;
            min-width: 150px;
            height: 30vh;
            animation-name: slideLeft;
            animation-duration: .5s;
            animation-fill-mode: both;

            .close-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: white;
                color: black;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                top: -15px;
                width: 30px;
                height: 30px;
            }

            .menu-options {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                // transform: translateY(50%);

                * {
                    width: auto;
                    height: fit-content;
                }
            }
        }

        .social-medias {
            border-top: 2px solid white;
            scale: .8;
            justify-content: center;

            & button:hover {
                background-color: black;
                opacity: .5;
            }
        }
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
}