header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #385656;
    
    * {
        color: #FAFAFF;
    }

   nav {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

    button {
        color: white;
        transition: .5s;

        &:hover {
            opacity: .4;
        }
    }
}

   button {
    height: 100%;
    font-size: 1.2em;
    padding: 10px;

    &:hover {
        background-color: white;
        color: black;
    }
   }
}