
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: var(--font-open-sans);
}

h1 {
  font-family: var(--font-roboto);
}

h2,h3,h4 {
  font-family: var(--font-alegreya);
}

body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

