main {
    text-align: center;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    
    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.6em;
        color: white;
        padding: 10px;
        border-radius: 5px ;
        width: 20%;
        background-color: #384756;
    }
}