main {
    text-align: center;
    width: 100%;
}

.description {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
  

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        h2 {
            
            font-size: 3em;
        }
    
        p {
            font-size: 1.6em;
          
            padding: 10px;
            border-radius: 5px ;
            width: 100%;
        }
    }
    
    .clinic-img {
        object-fit: cover;
        height: 300px;
        width: 350px;
        border-radius: 50%;
    }

}

.activities-list{
    padding: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #384756;

    &>article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        color: #C8AD55;
        border: 2px solid #C8AD55;
        border-radius: 8px;
        min-height: 300px ;
        max-width: 411px;

        h3 {
            font-size: 1.5em;
            font-weight: bold;
            letter-spacing: 5px;
        }

        p {
            padding: 15px;
        }
    }
}

@media screen and (max-width: 560px) {
    .activities-list {
        justify-content: center;
        align-items: center;
    }
}